@model CarBook.WebUI.Areas.Admin.Models.AdminDashboardViewModel

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Bil</span>
                    <h5 class="card-title mb-0 text-white">Antall Bil</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @Model.CarCount
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Merke</span>
                    <h5 class="card-title mb-0 text-white">Antall Merke</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.BrandCount
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Blogg</span>
                    <h5 class="card-title mb-0 text-white">Antall Blogg</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.BlogCount
                        </h2>
                    </div>
                </div>
                
            </div>
        </div>
    </div> <!-- end col-->
    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Forfatter</span>
                    <h5 class="card-title mb-0 text-white">Antall Forfatter</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.AuthorCount
                        </h2>
                    </div>
                </div>
                
            </div>
        </div>
    </div> <!-- end col-->
    
    <div class="col-md-6 col-xl-3">
        <div class="card bg-primary border-primary">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Bil</span>
                    <h5 class="card-title mb-0 text-white">Høyeste Pris Model</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center mb-0 text-white">
                            @Model.HighestPriceCar
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
    <div class="col-md-6 col-xl-3">
        <div class="card bg-success border-success">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Bil</span>
                    <h5 class="card-title mb-0 text-white">Laveste Pris Model</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.LowestPriceCar
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
    <div class="col-md-6 col-xl-3">
        <div class="card bg-warning border-warning">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Reservasjon</span>
                    <h5 class="card-title mb-0 text-white">Minste Leiemodell</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.MinRentedCarModel
                        </h2>
                    </div>
                </div>
                    
            </div>
        </div>
    </div> <!-- end col-->
    <div class="col-md-6 col-xl-3">
        <div class="card bg-info border-info">
            <div class="card-body">
                <div class="mb-4">
                    <span class="badge badge-soft-light float-right">Reservasjoner</span>
                    <h5 class="card-title mb-0 text-white">Mest Leidemodell</h5>
                </div>
                <div class="row d-flex align-items-center mb-4">
                    <div class="col-8">
                        <h2 class="d-flex align-items-center text-white mb-0">
                            @Model.MostRentedCarModel
                        </h2>
                    </div>
                </div>
                    
            </div>
        </div>
    </div> <!-- end col-->
</div>

<div class="row">

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-right position-relative">
                    <a href="#" class="dropdown-toggle h4 text-muted" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                </div>
                <h4 class="card-title d-inline-block">Daglig inntekt etter ukedag</h4>

                <div id="revenueDailyChart" class="morris-chart" style="height: 260px;"></div>

                <div class="row text-center mt-4">
                    <div class="col-6">
                        <h4></h4>
                    </div>
                    <div class="col-6">
                        <h4></h4>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-right position-relative">
                    <a href="#" class="dropdown-toggle h4 text-muted" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                </div>
                <h4 class="card-title d-inline-block">Daglig salg</h4>

                <div id="chartDiv1" class="morris-chart" style="height: 260px;"></div>

                <div class="row text-center mt-4">
                </div>
            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-right position-relative">
                    <a href="#" class="dropdown-toggle h4 text-muted" data-toggle="dropdown"
                       aria-expanded="false">
                        <i class="mdi mdi-dots-vertical"></i>
                    </a>
                </div>
                <h4 class="card-title d-inline-block">Månedlig inntekt</h4>

                <div id="revenueChart" class="morris-chart" style="height: 260px;"></div>

                <div class="row text-center mt-4">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Grafik için bir yer belirliyoruz -->
<div style="float: left; width: 100%; height: 600px;">
    <div  style="width: 100%; height: 100%;"></div>
</div>
    <div style="clear: both;"></div>



<script type="text/javascript">
        // Sayfa yüklendiğinde grafik oluşturmak için bu fonksiyonu çağırıyoruz
        google.charts.load('current', {'packages' : ['corechart'] });
        google.charts.setOnLoadCallback(DrawPieChart1);

        function DrawPieChart1(){
            // AJAX ile verileri alıyoruz (örnek olarak bir dizi kullanıyoruz)
            $.ajax({
                 type: "GET",
                 url: "/Admin/Chart/DailyChart/",
                 success: function(chartsdata) {
                   var jsonData = chartsdata.jsonlist;
                     console.log(jsonData);
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'name');
            data.addColumn('number','count');

           
            for (var i = 0; i < jsonData.length; i++){
                data.addRow([jsonData[i].name, jsonData[i].count]);
            }

            var options = {
                pieHole: 0.4,
                position: "top",
                fontSize: "16px"
            };

         
            var chart = new google.visualization.PieChart(document.getElementById('chartDiv1'));
            chart.draw(data, options);
        }
    });
}

 google.charts.load('current', { 'packages': ['corechart'] });
 google.charts.setOnLoadCallback(drawChart2);
 
 function drawChart2() {
     $.ajax({
         url: '/Admin/Chart/RevenueChart',
         type: 'GET',
         dataType: 'json',
         success: function (data) {
             var months = ["Januar", "Februar", "Mars", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Desember"];

             var chartData = [['Months', 'Inntekt']];
             for (var i = 0; i < data.months.length; i++) {
                 var monthIndex = data.months[i] - 1;
                 chartData.push([months[monthIndex], data.revenues[i]]);
             }
 
             var dataTable = google.visualization.arrayToDataTable(chartData);
 
             var options = {
                 hAxis: { title: 'Måned', titleTextStyle: { color: '#333' } },
                 vAxis: { minValue: 0 },
                 curveType: 'function', // Add this line for a smoother line chart
             };
 
             var chart = new google.visualization.LineChart(document.getElementById('revenueChart'));
             chart.draw(dataTable, options);
         }
     });
 }
 
 
 
 
 google.charts.load('current', { 'packages': ['corechart'] });
 google.charts.setOnLoadCallback(drawChart3);
 
 function drawChart3() {
     $.ajax({
         url: '/Admin/Chart/RevenueDailyChart',
         type: 'GET',
         dataType: 'json',
         success: function (data) {
             var daysOfWeek = ["Søndag", "Mandag", "Tirsdag", "Onsdag", "Torsdag", "Fredag","Lørdag"];
             var chartData = [['DayOfWeek', 'Inntekt', { role: 'style' }]];
 
             for (var i = 0; i < data.dayOfWeek.length; i++) {
                 var randomColor = getRandomColor();
                 var dayIndex = data.dayOfWeek[i];
                 chartData.push([daysOfWeek[dayIndex], data.revenues[i], randomColor]);
             }
 
             var dataTable = google.visualization.arrayToDataTable(chartData);
 
             var options = {
                 title: '',
                 hAxis: { title: 'Ukedag', titleTextStyle: { color: '#333' } },
                 vAxis: { minValue: 0 }
             };
 
             var chart = new google.visualization.ColumnChart(document.getElementById('revenueDailyChart'));
             chart.draw(dataTable, options);
         }
     });
 }
 
 function getRandomColor() {
     var letters = '0123456789ABCDEF';
     var color = '#';
     for (var i = 0; i < 6; i++) {
         color += letters[Math.floor(Math.random() * 16)];
     }
     return color;
 }



    </script>


